#	$OpenBSD: sshd_config,v 1.100 2016/08/15 12:32:04 naddy Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was stripped of comments which don't matter for my use-case
# only strong ciphers are allowed so this configuration may not work with
# clients which do not support these algorithms

# Default Port is 22, changing is recommended
## Port ## 
#AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_dsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no # pam does that
Ciphers aes256-gcm@openssh.com
MACs hmac-sha2-512
Subsystem	sftp	/usr/lib/ssh/sftp-server
# insert username
AllowUsers ######

